<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="VMA" 
			 connectionString="server=SUMITSLAPTOP\SQLEXPRESS;Database=VendorManagementDB1;Trusted_Connection=true;Encrypt=false" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>