/****** Object:  StoredProcedure [dbo].[GetYearlyAllServiceReport]    Script Date: 29-09-2024 15:11:32 ******/
DROP PROCEDURE [dbo].[GetYearlyAllServiceReport]
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardDetails]    Script Date: 29-09-2024 15:11:32 ******/
DROP PROCEDURE [dbo].[GetDashboardDetails]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorServices]') AND type in (N'U'))
DROP TABLE [dbo].[VendorServices]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vendors]') AND type in (N'U'))
DROP TABLE [dbo].[Vendors]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorPayments]') AND type in (N'U'))
DROP TABLE [dbo].[VendorPayments]
GO
/****** Object:  Table [dbo].[VendorPaymentNotes]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorPaymentNotes]') AND type in (N'U'))
DROP TABLE [dbo].[VendorPaymentNotes]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorDetails]') AND type in (N'U'))
DROP TABLE [dbo].[VendorDetails]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoiceDetails]') AND type in (N'U'))
DROP TABLE [dbo].[InvoiceDetails]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GSTCalculationMaster]') AND type in (N'U'))
DROP TABLE [dbo].[GSTCalculationMaster]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 29-09-2024 15:11:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Configurations]') AND type in (N'U'))
DROP TABLE [dbo].[Configurations]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CFGKey] [nvarchar](max) NOT NULL,
	[CFGValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSTCalculationMaster](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[GST_Category_Name] [nvarchar](max) NOT NULL,
	[CGST_Percentage] [int] NULL,
	[SGST_Percentage] [int] NULL,
	[IGST_Percentage] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceParticulars] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VendorDetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorDetailCategory] [nvarchar](max) NULL,
	[DetailsYear] [nvarchar](20) NOT NULL,
	[RatePerUnit] [nvarchar](max) NULL,
	[QuantityOfUnit] [int] NULL,
	[ServiceSantionAmount] [decimal](18, 0) NULL,
	[SantionedDate] [date] NULL,
	[SantionedNoteNo] [nvarchar](max) NULL,
	[ServiceStartDate] [date] NULL,
	[ServiceEndDate] [date] NULL,
	[ServiceSantionedBy] [nvarchar](max) NULL,
	[ServiceType] [nvarchar](max) NULL,
	[ServicePaymentType] [nvarchar](max) NULL,
	[SantionedType] [nvarchar](max) NULL,
	[IsAMC] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorServiceID] [int] NOT NULL,
	[FK_VendorID] [int] NOT NULL,
	[SLAExpireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPaymentNotes]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPaymentNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNoteNo] [nvarchar](max) NOT NULL,
	[PaymentNoteDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
	[PaymentNoteYear] [nvarchar](max) NULL,
	[FK_VendorDetailID] [int] NULL,
	[PaymentNoteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPayments](
	[VendorPaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](max) NULL,
	[PaymentYear] [nvarchar](20) NOT NULL,
	[VendorPaymentDate] [date] NOT NULL,
	[VendorPaymentAmount] [decimal](18, 0) NULL,
	[VendorPaymentIsGST] [bit] NULL,
	[VendorPaymentCGST] [decimal](18, 0) NULL,
	[VendorPaymentSGST] [decimal](18, 0) NULL,
	[VendorPaymentIGST] [decimal](18, 0) NULL,
	[VendorPaymentTotalAmountPaid] [decimal](18, 0) NULL,
	[VendorPaymentUTRNumber] [nvarchar](max) NULL,
	[VendorPaymentRtgsAmount] [decimal](18, 0) NULL,
	[VendorPaymentRtgsDate] [date] NULL,
	[VendorPaymentIsTDSApplicable] [bit] NULL,
	[VendorPaymentTDSAmount] [decimal](18, 0) NULL,
	[Notes] [nvarchar](max) NULL,
	[IsPaymentForBranch] [bit] NULL,
	[BankBranchName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorDetailID] [int] NOT NULL,
	[FK_InvoiceID] [int] NOT NULL,
	[FK_NoteId] [int] NOT NULL,
	[FK_GSTMasterSrNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](max) NOT NULL,
	[VendorName] [nvarchar](max) NOT NULL,
	[VendorAddress] [nvarchar](max) NULL,
	[VendorPinCode] [nvarchar](max) NULL,
	[VendorPhoneNo] [nvarchar](max) NULL,
	[VendorEmailId] [nvarchar](max) NULL,
	[VendorBankName] [nvarchar](max) NULL,
	[VendorAccountNumber] [nvarchar](max) NULL,
	[VendorIFSCCode] [nvarchar](max) NULL,
	[VendorGSTNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[VendorPan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorServices](
	[VendorServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardDetails]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[GetDashboardDetails]   -- '2024-2025'
    @DetailsYear NVARCHAR(10)    
AS    
BEGIN    
    SELECT  
    (SELECT COUNT(DISTINCT vs.FK_VendorServiceID)   
     FROM [VendorDetails] AS vs) AS CountOfServices,  
      
    (SELECT COUNT(DISTINCT v.VendorName)   
     FROM [Vendors] AS v) AS CountOfVendors,  
      
    (SELECT SUM(ISNULL(vd.ServiceSantionAmount, 0))   
     FROM [VendorDetails] AS vd   
     WHERE vd.DetailsYear = @DetailsYear) AS TotalSanctionAmount,
	 
	(SELECT SUM(ISNULL(vp.VendorPaymentAmount, 0))   
     FROM [Vendors] AS v    
     INNER JOIN [VendorServices] AS vs ON v.VendorID = vs.FK_VendorID    
     INNER JOIN [VendorDetails] AS vd ON vd.FK_VendorServiceID = vs.VendorServiceID     
     LEFT JOIN [VendorPayments] AS vp ON vp.FK_VendorDetailID = vd.VendorDetailID    
     WHERE vd.DetailsYear =@DetailsYear and vd.ServicePaymentType<>'None') AS SantionedAmtPaid,
      
    (SELECT SUM(ISNULL(vp.VendorPaymentAmount, 0))   
     FROM [Vendors] AS v    
     INNER JOIN [VendorServices] AS vs ON v.VendorID = vs.FK_VendorID    
     INNER JOIN [VendorDetails] AS vd ON vd.FK_VendorServiceID = vs.VendorServiceID     
     LEFT JOIN [VendorPayments] AS vp ON vp.FK_VendorDetailID = vd.VendorDetailID    
     WHERE vd.DetailsYear =@DetailsYear and vd.ServicePaymentType='None') AS OtherAmtPaid;  
END   
GO
/****** Object:  StoredProcedure [dbo].[GetYearlyAllServiceReport]    Script Date: 29-09-2024 15:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetYearlyAllServiceReport]
    @DetailsYear NVARCHAR(10)
AS
BEGIN
    SELECT 
        v.VendorName, 
        vs.VendorServiceName, 
        vd.ServicePaymentType,
        vd.ServiceSantionAmount,
        CASE 
            WHEN vd.ServicePaymentType = 'Monthly' THEN 12
            WHEN vd.ServicePaymentType = 'Quarterly' THEN 4
            WHEN vd.ServicePaymentType = 'Half Yearly' THEN 2
            WHEN vd.ServicePaymentType = 'Yearly' THEN 1
            ELSE 1 -- For 'None' or any other unexpected value
        END AS NumberOfTerms,
        COUNT(vp.VendorPaymentID) AS TotalPaymentsMade,
        CASE 
            WHEN vd.ServicePaymentType = 'Monthly' THEN 12
            WHEN vd.ServicePaymentType = 'Quarterly' THEN 4
            WHEN vd.ServicePaymentType = 'Half Yearly' THEN 2
            WHEN vd.ServicePaymentType = 'Yearly' THEN 1
            ELSE 1 -- For 'None' or any other unexpected value
        END - COUNT(vp.VendorPaymentID) AS RemainingTerms,
        SUM(vp.VendorPaymentAmount) AS TotalVendorPaymentAmount,
        vd.ServiceSantionAmount - SUM(ISNULL(vp.VendorPaymentAmount, 0)) AS RemainingAmount
    FROM 
        [Vendors] AS v
    INNER JOIN 
        [VendorServices] AS vs ON v.VendorID = vs.FK_VendorID
    INNER JOIN 
        [VendorDetails] AS vd ON vd.FK_VendorServiceID = vs.VendorServiceID 
    LEFT JOIN 
        [VendorPayments] AS vp ON vp.FK_VendorDetailID = vd.VendorDetailID
    WHERE 
        vd.DetailsYear = @DetailsYear
    GROUP BY 
        v.VendorName, 
        vs.VendorServiceName, 
        vd.ServicePaymentType,
        vd.ServiceSantionAmount
END
GO
