USE [master]
GO
/****** Object:  Database [VendorManagementDB]    Script Date: 6/23/2024 2:36:45 PM ******/
CREATE DATABASE [VendorManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendorManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendorManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendorManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendorManagementDB]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 6/23/2024 2:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSTCalculationMaster](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[CGST_Percentage] [int] NULL,
	[SGST_Percentage] [int] NULL,
	[IGST_Percentage] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetais]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetais](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceParticulars] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VenderPaymentNotes]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VenderPaymentNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNoteNo] [nvarchar](max) NULL,
	[PaymentNoteDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorPaymentId] [int] NULL,
	[FK_InvoiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VendorDetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorDetailCategory] [nvarchar](max) NULL,
	[RatePerUnit] [nvarchar](max) NULL,
	[QuantityOfUnit] [int] NULL,
	[ServiceSantionAmount] [nvarchar](max) NULL,
	[ServiceStartDate] [date] NULL,
	[ServiceEndDate] [date] NULL,
	[ServiceSantionedBy] [nvarchar](max) NULL,
	[ServiceType] [nvarchar](max) NULL,
	[ServicePaymentType] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPayments](
	[VendorPaymentId] [int] IDENTITY(1,1) NOT NULL,
	[VendorPaymentYear] [nvarchar](20) NULL,
	[VendorPaymentDate] [datetime] NULL,
	[VendorPaymentAmount] [datetime] NULL,
	[VendorPaymentIsGST] [bit] NULL,
	[VendorPaymentCGST] [decimal](18, 0) NULL,
	[VendorPaymentSGST] [decimal](18, 0) NULL,
	[VendorPaymentTotalAmountPaid] [int] NULL,
	[VendorPaymentUTRNumber] [int] NULL,
	[VendorPaymentRtgsAmount] [decimal](18, 0) NULL,
	[VendorPaymentRtgsDate] [date] NULL,
	[VendorPaymentTDSAmount] [decimal](18, 0) NULL,
	[VendorPaymentNotesDetails] [nvarchar](max) NULL,
	[BankBranchName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorDetailID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](max) NULL,
	[VendorName] [nvarchar](max) NULL,
	[VendorAddress] [nvarchar](max) NULL,
	[VendorPinCode] [nvarchar](max) NULL,
	[VendorPhoneNo] [nvarchar](max) NULL,
	[VendorEmailId] [nvarchar](max) NULL,
	[VendorBankName] [nvarchar](max) NULL,
	[VendorAccountNumber] [nvarchar](max) NULL,
	[VendorIFSCCode] [nvarchar](max) NULL,
	[VendorGSTNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 6/23/2024 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorServices](
	[VendorServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
