USE [VendorManagementDB2]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorServices]') AND type in (N'U'))
DROP TABLE [dbo].[VendorServices]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vendors]') AND type in (N'U'))
DROP TABLE [dbo].[Vendors]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorPayments]') AND type in (N'U'))
DROP TABLE [dbo].[VendorPayments]
GO
/****** Object:  Table [dbo].[VendorPaymentNotes]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorPaymentNotes]') AND type in (N'U'))
DROP TABLE [dbo].[VendorPaymentNotes]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VendorDetails]') AND type in (N'U'))
DROP TABLE [dbo].[VendorDetails]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoiceDetails]') AND type in (N'U'))
DROP TABLE [dbo].[InvoiceDetails]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GSTCalculationMaster]') AND type in (N'U'))
DROP TABLE [dbo].[GSTCalculationMaster]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 7/18/2024 11:04:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Configurations]') AND type in (N'U'))
DROP TABLE [dbo].[Configurations]
GO
USE [master]
GO
/****** Object:  Database [VendorManagementDB2]    Script Date: 7/18/2024 11:04:20 AM ******/
DROP DATABASE [VendorManagementDB2]
GO
/****** Object:  Database [VendorManagementDB2]    Script Date: 7/18/2024 11:04:20 AM ******/
CREATE DATABASE [VendorManagementDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendorManagementDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendorManagementDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendorManagementDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendorManagementDB2]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 7/18/2024 11:04:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FinacialYear] [nvarchar](max) NOT NULL,
	[PayNoteInitial] [nvarchar](max) NOT NULL,
	[SantionedBy] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NULL,
	[Expenditure] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSTCalculationMaster](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[GST_Category_Name] [nvarchar](max) NOT NULL,
	[CGST_Percentage] [int] NULL,
	[SGST_Percentage] [int] NULL,
	[IGST_Percentage] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceParticulars] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VendorDetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorDetailCategory] [nvarchar](max) NULL,
	[DetailsYear] [nvarchar](20) NOT NULL,
	[RatePerUnit] [nvarchar](max) NULL,
	[QuantityOfUnit] [int] NULL,
	[ServiceSantionAmount] [decimal](18, 0) NULL,
	[SantionedDate] [date] NULL,
	[SantionedNoteNo] [nvarchar](max) NULL,
	[ServiceStartDate] [date] NULL,
	[ServiceEndDate] [date] NULL,
	[ServiceSantionedBy] [nvarchar](max) NULL,
	[ServiceType] [nvarchar](max) NULL,
	[ServicePaymentType] [nvarchar](max) NULL,
	[SantionedType] [nvarchar](max) NULL,
	[IsAMC] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorServiceID] [int] NOT NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPaymentNotes]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPaymentNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNoteNo] [nvarchar](max) NOT NULL,
	[PaymentNoteDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPayments](
	[VendorPaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](max) NULL,
	[PaymentYear] [nvarchar](20) NOT NULL,
	[VendorPaymentDate] [date] NOT NULL,
	[VendorPaymentAmount] [decimal](18, 0) NULL,
	[VendorPaymentIsGST] [bit] NULL,
	[VendorPaymentCGST] [decimal](18, 0) NULL,
	[VendorPaymentSGST] [decimal](18, 0) NULL,
	[VendorPaymentIGST] [decimal](18, 0) NULL,
	[VendorPaymentTotalAmountPaid] [decimal](18, 0) NULL,
	[VendorPaymentUTRNumber] [nvarchar](max) NULL,
	[VendorPaymentRtgsAmount] [decimal](18, 0) NULL,
	[VendorPaymentRtgsDate] [date] NULL,
	[VendorPaymentIsTDSApplicable] [bit] NULL,
	[VendorPaymentTDSAmount] [decimal](18, 0) NULL,
	[Notes] [nvarchar](max) NULL,
	[IsPaymentForBranch] [bit] NULL,
	[BankBranchName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorDetailID] [int] NOT NULL,
	[FK_InvoiceID] [int] NOT NULL,
	[FK_NoteId] [int] NOT NULL,
	[FK_GSTMasterSrNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](max) NOT NULL,
	[VendorName] [nvarchar](max) NOT NULL,
	[VendorAddress] [nvarchar](max) NULL,
	[VendorPinCode] [nvarchar](max) NULL,
	[VendorPhoneNo] [nvarchar](max) NULL,
	[VendorEmailId] [nvarchar](max) NULL,
	[VendorBankName] [nvarchar](max) NULL,
	[VendorAccountNumber] [nvarchar](max) NULL,
	[VendorIFSCCode] [nvarchar](max) NULL,
	[VendorGSTNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[VendorPan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 7/18/2024 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorServices](
	[VendorServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
