USE [master]
GO
/****** Object:  Database [VendorManagementDB]    Script Date: 8/4/2024 3:02:59 PM ******/
CREATE DATABASE [VendorManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendorManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendorManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendorManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendorManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendorManagementDB]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CFGKey] [nvarchar](max) NOT NULL,
	[CFGValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GSTCalculationMaster]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSTCalculationMaster](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[GST_Category_Name] [nvarchar](max) NOT NULL,
	[CGST_Percentage] [int] NULL,
	[SGST_Percentage] [int] NULL,
	[IGST_Percentage] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceParticulars] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VendorDetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorDetailCategory] [nvarchar](max) NULL,
	[DetailsYear] [nvarchar](20) NOT NULL,
	[RatePerUnit] [nvarchar](max) NULL,
	[QuantityOfUnit] [int] NULL,
	[ServiceSantionAmount] [decimal](18, 2) NULL,
	[SantionedDate] [date] NULL,
	[SantionedNoteNo] [nvarchar](max) NULL,
	[ServiceStartDate] [date] NULL,
	[ServiceEndDate] [date] NULL,
	[ServiceSantionedBy] [nvarchar](max) NULL,
	[ServiceType] [nvarchar](max) NULL,
	[ServicePaymentType] [nvarchar](max) NULL,
	[SantionedType] [nvarchar](max) NULL,
	[IsAMC] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorServiceID] [int] NOT NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPaymentNotes]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPaymentNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNoteNo] [nvarchar](max) NOT NULL,
	[PaymentNoteDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
	[PaymentNoteYear] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorPayments]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorPayments](
	[VendorPaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](max) NULL,
	[PaymentYear] [nvarchar](20) NOT NULL,
	[VendorPaymentDate] [date] NOT NULL,
	[VendorPaymentAmount] [decimal](18, 2) NULL,
	[VendorPaymentIsGST] [bit] NULL,
	[VendorPaymentCGST] [decimal](18, 2) NULL,
	[VendorPaymentSGST] [decimal](18, 2) NULL,
	[VendorPaymentIGST] [decimal](18, 2) NULL,
	[VendorPaymentTotalAmountPaid] [decimal](18, 2) NULL,
	[VendorPaymentUTRNumber] [nvarchar](max) NULL,
	[VendorPaymentRtgsAmount] [decimal](18, 2) NULL,
	[VendorPaymentRtgsDate] [date] NULL,
	[VendorPaymentIsTDSApplicable] [bit] NULL,
	[VendorPaymentTDSAmount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[IsPaymentForBranch] [bit] NULL,
	[BankBranchName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorDetailID] [int] NOT NULL,
	[FK_InvoiceID] [int] NOT NULL,
	[FK_NoteId] [int] NOT NULL,
	[FK_GSTMasterSrNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](max) NOT NULL,
	[VendorName] [nvarchar](max) NOT NULL,
	[VendorAddress] [nvarchar](max) NULL,
	[VendorPinCode] [nvarchar](max) NULL,
	[VendorPhoneNo] [nvarchar](max) NULL,
	[VendorEmailId] [nvarchar](max) NULL,
	[VendorBankName] [nvarchar](max) NULL,
	[VendorAccountNumber] [nvarchar](max) NULL,
	[VendorIFSCCode] [nvarchar](max) NULL,
	[VendorGSTNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[VendorPan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorServices](
	[VendorServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LastUpdateBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[FK_VendorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardDetails]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDashboardDetails]
    @DetailsYear NVARCHAR(10)
AS
BEGIN
    SELECT 
        COUNT(DISTINCT v.VendorName) AS CountOfVendors,
        COUNT(DISTINCT vs.VendorServiceName) AS CountOfServices,
        SUM(ISNULL(vd.ServiceSantionAmount, 0)) AS TotalSanctionAmount,
        SUM(ISNULL(vp.VendorPaymentAmount, 0)) AS TotalPaidAmount
    FROM 
        [Vendors] AS v
    INNER JOIN 
        [VendorServices] AS vs ON v.VendorID = vs.FK_VendorID
    INNER JOIN 
        [VendorDetails] AS vd ON vd.FK_VendorServiceID = vs.VendorServiceID 
    LEFT JOIN 
        [VendorPayments] AS vp ON vp.FK_VendorDetailID = vd.VendorDetailID
    WHERE 
        vd.DetailsYear = @DetailsYear
END
GO
/****** Object:  StoredProcedure [dbo].[GetYearlyAllServiceReport]    Script Date: 8/4/2024 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetYearlyAllServiceReport]
    @DetailsYear NVARCHAR(10)
AS
BEGIN
    SELECT 
        v.VendorName, 
        vs.VendorServiceName, 
        vd.ServicePaymentType,
        vd.ServiceSantionAmount,
        CASE 
            WHEN vd.ServicePaymentType = 'Monthly' THEN 12
            WHEN vd.ServicePaymentType = 'Quarterly' THEN 4
            WHEN vd.ServicePaymentType = 'Half Yearly' THEN 2
            WHEN vd.ServicePaymentType = 'Yearly' THEN 1
            ELSE 1 -- For 'None' or any other unexpected value
        END AS NumberOfTerms,
        COUNT(vp.VendorPaymentID) AS TotalPaymentsMade,
        CASE 
            WHEN vd.ServicePaymentType = 'Monthly' THEN 12
            WHEN vd.ServicePaymentType = 'Quarterly' THEN 4
            WHEN vd.ServicePaymentType = 'Half Yearly' THEN 2
            WHEN vd.ServicePaymentType = 'Yearly' THEN 1
            ELSE 1 -- For 'None' or any other unexpected value
        END - COUNT(vp.VendorPaymentID) AS RemainingTerms,
        SUM(vp.VendorPaymentAmount) AS TotalVendorPaymentAmount,
        vd.ServiceSantionAmount - SUM(ISNULL(vp.VendorPaymentAmount, 0)) AS RemainingAmount
    FROM 
        [Vendors] AS v
    INNER JOIN 
        [VendorServices] AS vs ON v.VendorID = vs.FK_VendorID
    INNER JOIN 
        [VendorDetails] AS vd ON vd.FK_VendorServiceID = vs.VendorServiceID 
    LEFT JOIN 
        [VendorPayments] AS vp ON vp.FK_VendorDetailID = vd.VendorDetailID
    WHERE 
        vd.DetailsYear = @DetailsYear
    GROUP BY 
        v.VendorName, 
        vs.VendorServiceName, 
        vd.ServicePaymentType,
        vd.ServiceSantionAmount
END
GO
USE [master]
GO
